body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: floralwhite;
    color: rgb(29, 32, 29);
    margin: 0;
    padding: 0;
}
header{
    background: #007bff;
    color: cornsilk;
    padding: 20px;
    text-align: center;
}

section{
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0,1)
}
h2{
    color: darkslategray;
}

footer{
    text-align: center;
    padding: 10px;
    background: rgb(21, 90, 155);
}
